# Project
test/export/**
!test/export/.gitkeep

# Scons
*.dblite
*.os

# Linux
*.so
*.a

# Windows
*.obj
*.lib
*.exp
*.dll

# Web
*.o

# Binaries
test/bin/*
!test/bin/.gitkeep
!test/bin/gdexample.gdextension

# Visual Studio
.vs/**