# Project
test/export/**
!test/export/.gitkeep

# Scons
*.dblite

# Linux
*.os
*.so

# Windows
*.obj
*.lib
*.exp
*.dll

# Web
*.o

# Binaries
test/bin/*
!test/bin/.gitkeep
!test/bin/gdexample.gdextension

# Visual Studio
.vs/**